.page-header {
		background-color: #4E235B;
		margin-top: 0;
		padding: 20px 20px 20px 40px;
	}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
		color: #ffffff;
		font-size: 36pt;
		text-decoration: none;
	}

.content {
		background-color: #ffffff;
		margin-left: 40px;
	}

	h1, h2, h3, h4 {
		font-family: 'Lobster', cursive;
    }

.date {
		float: right;
			color: #ffffff;
	}

.save {
		float: right;
	}

.post-form textarea, .post-form input {
		width: 100%;
	}

.top-menu, .top-menu:hover, .top-menu:visited {
		color: #ffffff;
		float: right;
		font-size: 0pt;
		margin-right: 20px;
	}
.body {
		background-color: #4E235B;
}

.post-title h1 a, .post h1 a:visited {
		color: #4E235B;
		font-size: 26pt;		
		margin-top: 40px;		
		margin-left: 40px;
	}
.published {
		color: #C335F2;
		font-size: 10pt;
		font-family: 'Lobster', cursive;
		margin-left: 40px;
}
.author {
		color: #C335F2;
		font-size: 10pt;
		font-family: 'Lobster', cursive;
		margin-left: 40px;
}
.text {
		color: #C335F2;
		font-size: 14pt;
		font-family: 'Calibri', cursive;
		margin-left: 40px;
		margin-bottom: 40px;		
}